<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="General" type="AzureDevOpsToPowerBI.Settings.GeneralSetting, AzureDevOpsToPoweBI" />
		<section name="TeamProject" type="AzureDevOpsToPowerBI.Settings.TeamProjectSetting, AzureDevOpsToPoweBI" />
	</configSections>
	<General>
		<Connection TfsUri=""
					PersonalAccessToken=""
					AzureStorageConnectionString=""
					WorkItemSyncDate = "2023-01-01T00:00:00Z" />
		<FilterTag Tags="General" />
	</General>
	<TeamProject>
		<Project ProjectKey="FMM" ProjectName="FMM" AreaPath="FMM\FMM" TeamName="A Team" IterationLevel="1"/>
		<Project ProjectKey="FMM2" ProjectName="FMM" AreaPath="FMM\FMM" TeamName="A Team" IterationLevel="1"/>
	</TeamProject>
</configuration>