<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="General" type="AzureDevOpsToPowerBI.Settings.GeneralSetting, AzureDevOpsToPoweBI" />
		<section name="TeamProject" type="AzureDevOpsToPowerBI.Settings.TeamProjectSetting, AzureDevOpsToPoweBI" />
	</configSections>
	<General>
		<Connection TfsUri="https://yourazuredevops.com"
					PersonalAccessToken=""
					AzureStorageConnectionString=""
					WorkItemSyncDate = "2025-01-01T00:00:00Z"/>
	</General>
	<TeamProject>
		<!-- Add as many items as the number of projects to be monitored. -->
		<Project ProjectName="project A" AreaPath="project A" TeamName="TeamA"/>
	</TeamProject>

</configuration>
