<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="General" type="AzureDevOpsToPowerBI.Settings.GeneralSetting, AzureDevOpsToPoweBI" />
		<section name="TeamProject" type="AzureDevOpsToPowerBI.Settings.TeamProjectSetting, AzureDevOpsToPoweBI" />
	</configSections>

	<General>
		<Connection TfsUri=""
					PersonalAccessToken=""
					AzureStorageConnectionString=""/>
	</General>
	
	<TeamProject>
		<Project ProjectName="project A" AreaPath="project A" TeamName="TeamA"/>
	</TeamProject>

</configuration>
